altair
bokeh
chart-studio
favicon
filelock
geojson
geopandas
gitdb
GitPython
matplotlib
numpy
openpyxl
pandas
plotly
seaborn
statsmodels
streamlit
streamlit_super_slider
streamlit-aggrid
streamlit-card
streamlit-embedcode
streamlit-extras
streamlit-folium
streamlit-option-menu
streamlit-pills
streamlit-plotly-events
streamlit-toggle-switch
streamlit-vertical-slider